.animate-enter-options, .animate-leave-options, .animate-enter-settings, .animate-leave-settings,
.animate-enter-opacity, .animate-leave-opacity
{ 
    -webkit-transition: 500s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 825ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 825ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 825ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animate-enter-options {left: -20%;opacity: 0;}
.animate-enter-options.animate-enter-options-active {left: 0;opacity: 1;}
.animate-leave-options {left: 0;opacity: 1;}
.animate-leave-options.animate-leave-options-active{left: -20%;opacity: 0;}

.animate-enter-settings {left: 100%;opacity: 0;}
.animate-enter-settings.animate-enter-settings-active {left: 82%;opacity: 1;}
.animate-leave-settings {left: 82%;opacity: 1;}
.animate-leave-settings.animate-leave-settings-active{left: 100%;opacity: 0;}

.animate-enter-opacity {opacity: 0;}
.animate-enter-opacity.animate-enter-opacity-active {opacity: 1;}
.animate-leave-opacity {opacity: 1;}
.animate-leave-opacity.animate-leave-opacity-active{opacity: 0;}