.btn-product { /* Botão pai */
	background-color: rgb(175,194,175);
	display: inline-block;
    line-height: 37px;
    text-align: center;
    cursor: pointer;
}

.btn-product > label {
	cursor: pointer;
}

.btn-product.comment{
	padding: 0 10px 0 10px; 
}

.btn-product.close{	
	height: 20px;
	width: 20px;
	text-align: center;
	left: right;
	line-height: 110%;
	border-radius: 50%;
}

.btn-product:hover{
	background-color: rgb(155,174,155);
}

.img-config{
	width: 30px; height: 30px;
	margin-top: 3%;
	padding: 0px 20px 0px 20px;
	position: relative;
	background-size: 30px 30px;	
	background-repeat: no-repeat;
	background-position: center;
}

.map-button {
	float: left;
	background-image: url("../img/map.png");
}

.comment-button {
	float: right;
	background-image: url("../img/chat.png");
}

.btn-product.more-information{
	width: 35px; 
	height: 35px;
	position: relative;
	border-radius: 50%;
    line-height: 33px;
}