.btn-product { /* Botão pai */
	background-color: rgb(175,194,175);
	border-radius: 15px;
	display: inline-block;
    line-height: 37px;
    text-align: center;
}

.btn-product:hover{
	background-color: rgb(155,174,155);
}

.img-config{
	width: 37px; height: 37px;
	position: relative;
	background-size: 30px 30px;	
	background-repeat: no-repeat;
	background-position: center;
}

.map-button {
	float: left;
	background-image: url("../img/map.png");
}

.comment-button {
	float: right;
	background-image: url("../img/chat.png");
}

.btn-product.more-information{
	width: 35px; 
	height: 35px;
	position: relative;
	border-radius: 50%;
    line-height: 33px;
}