#products-view{
	position: absolute;
	left: 0; right: 0; bottom: 0; top: 70px;
	padding-top: 20px;
	padding-right: 30px;
	background-color: #efe;
	z-index: 1;
}

.fix { height: 100%; }


/* Slide */
.view-product-list{
	top: 20%;
	margin: 20px 15px 30px 15px;
	padding: 10px 30px 10px 30px;
	position: relative;
	background-color: #cec;
}

#image-slid{
	max-width: 400px;
	max-height: 400px;
	width: 80%;	
}

#view-slid{
	width: 100%;
	height: 300px;
	margin-bottom: 2%;
	position: relative;
}

#title-product-list{
	padding: 10px 0px 0px 30px;
	margin: 10px;
	font-family: "david";
	font-size: 40px;
}

#more-information{
	padding: 10px 10px 0px 10px;
	margin: 4px;
	font-family: "Helvetica Neue", Helvetica, Verdana, arial;
	font-style: inherit;
	font-size: 20px;
}

.align-list{
	width: 48.5%;
	float: left;
}

#image-list{
	max-width: 110px;
	max-height: 110px;
}

.slid-circles{
	background-color: #005600;
	border-radius: 50%;
	margin: 4px;
	width: 8px;
	height: 8px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.slid-circles.selected{ background-color: black; }

.product-list{
	margin: 10px 0px 10px 0px;
	cursor: pointer;
}

.product-list:hover{ background-color: #2E8B57; }

.product-list.selected{ background-color: #2E8B57; }

.write-comment{
	top: 20%;
	margin: 20px 15px 0px 15px;
	padding: 10px;
	position: relative;
	background-color:#2E8B57;
	list-style: none;
}

.write-comment.comment-color{
	background-color:#cec;
	margin: 2px 15px 2px 15px;
}

.avatar-comment {
	border: 3px solid #fff;
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.logo-shop {
	border: 3px solid #2E8B57;
	border-radius: 50%;
	height: 60px;
	width: 60px;
}