<!DOCTYPE HTML>
<html ng-app ng-controller="index_ctr">

	<head>
		<title>FastFind</title>
		<script src="http://code.angularjs.org/1.1.5/angular.js"></script>
		<script src="scriptIndex.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link rel="stylesheet" type="text/css" href="styleTable.css">
		<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet">
		<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="animation.css">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		</head>

	<body>

		<!-- Div of home page -->
		<div id="body_page">

			<!-- Div of menu bar -->
			<div id="menu_bar" align="center">
				<div class="fsp"> </div>
				<button  ng-click="active_menu[0] = !active_menu[0]">Menu</button>
				<input type="text" id="txt" placeholder="Pesquisar"> </input>
				<button id="btn_find"> </button>
				<button  id="btn_set" ng-click="active_menu[1] = !active_menu[1]"></button>
			</div>

		
			<!--Tabela de produtos -->
			<div id="div_principal_blocks" align="left" ng-switch on="product_view_selected">

				<ul ng-switch-when="block">
                    <li class="li_produtos" ng-repeat="item in produtos" align="left">
						<div id="div_produtos" align="center">
							<label id="title_produto">{{item['name']}}</label>
                        	<img src="{{item['img'][0]}}" id="size_imgs_block">
                        	<label id="information_produto">{{item['distance'] + " | " + item['price']}}</label>
                    	</div>
                    </li>
                </ul>

                <div ng-switch-when="list">
                	<div class="lado">
		                <div class="div_principal_list">
							<label id="text_title_product">{{list_product_selected['name']}}</label><hr>

		                	<li id="config_li" align="center">
		                		<div ng-repeat="circle in list_product_selected['img']"  id="circles_of_slide" 
		                			 ng-class="{'change_color': circle == product_selected, 
		                			 'color_others_options': circle != product_selected}"
		                			 ng-mouseover="change_image_slide(circle)">
		                		</div>
		                	</li>

							<div id="size_big_img_list_div" align="center">
		                		<img src="{{product_selected}}" id="size_big_img_list">
		                	</div>

		                	<div align="center">
		                    	<button>Mapa</button>
		                    	<button>Favorito</button>
		                    	<button>Comprado</button>
		                    	<button ng-click="show_more_information = !show_more_information">+</button>
		                    	<button>Coment</button>
		                    	<button>List</button>
		                	</div>
		                </div>

		                <div class="div_principal_list" ng-if="show_more_information">
		                	<table width="100%">
		                		<tr align="center">
		                			<td>
		                				<label id="text_distance_price_product"><b>{{list_product_selected['price']}}</b></label>
		                			</td>
		                			<td>
		                				<label id="text_distance_price_product"><b>{{list_product_selected['shop']}}</b></label>
		                			</td>
		                		</tr>
		                		<tr align="center">
		                			<td>
		                				<label id="text_distance_price_product"><b>{{"[img]"+ list_product_selected['distance']}}</b></label>
		                			</td>
		                			<td>
		                				<label id="text_distance_price_product"><b>{{list_product_selected['street']}}</b></label>
		                			</td>
		                		</tr>
		                	</table>
		                </div>
		            </div>

                    <div class="div_principal_list lado">
                    	<div class = "config_cursor config_margin" ng-repeat="item in produtos" 
                    	ng-click="selected_new_product(item)" ng-mouseover="houver_new_product(item)"
                    	ng-class="{'product_selected': list_product_selected == item, 'product_houver': list_product_houver == item}">

                    		<table width="100%">
		                		<tr align="center">
		                			<td width="20%">
		                				<img src="{{item['img'][0]}}" id="size_imgs_list">
		                			</td>
		                			<td width="60%">
			                    		<p>{{item['name']}}</p>
			                    		<p>{{item['shop'] + " | " + item['street']}}</p>
		                			</td>
		                			<td width="20%">
		                				<label id="text_distance_price_product"><b>{{item['price']}}</b></label>
			                    		<p>{{item['distance']}}</p>
		                			</td>
		                		</tr>
		                	</table>
                    	</div>
                    </div>
                </div>

			</div>

		</div>

		<!--Div of meu options animated, init on left -->
		<div class="menu menu_options" ng-if="active_menu[0]" ng-animate="{enter: 'animate-enter-options', leave: 'animate-leave-options'}">
		</div>

		<!--Div of menu settings, init on right-->
		<div class="menu menu_settings" ng-if="active_menu[1]" ng-animate="{enter: 'animate-enter-settings', leave: 'animate-leave-settings'}">
				<div class="block" align=center> Filters </div>
				<center> <input type="radio" name="group1" value="Milk"> Driving &nbsp; &nbsp;
				<input type="radio" name="group1" value="Butter" checked> Walking<br>
				<div class="fspace"> </div>
				<hr>
				<div class="fspace"> </div>
				<input type="radio" name="group2" value="Water" ng-click="change_type_view('list')"> List &nbsp; &nbsp;
				<input type="radio" name="group2" value="Beer" ng-click="change_type_view('block')"> Block<br>
				<div class="fspace"> </div>
				<hr>
				<div class="fspace"> </div>
				<input type="radio" name="group3" value="Water"> Price &nbsp; &nbsp;
				<input type="radio" name="group3" value="Beer"> Distance<br> </center>
		</div>

	</body>
</html>

<!-- http://www.nganimate.org/angularjs/ng-repeat/3d-rotate para faze as pesquisas -->