.main{
	width: 100%;
	position:absolute;
	left:0;
	right:0;
	bottom:10;
}

.menu{
	height: 15%;
	top:0;
	background-color: #001aff ;
}

.bodye{
	height: 85%%;
	top:15%;
	background-color: #fff;
	border:10px;
}

.mainMenu{
	width: 30%;
	height: 100%;
	position: absolute;
	top: 0;bottom: 0;right: 0;
	background-color: #00aaff;
	opacity: 0;
	text-align:center;
}

.mainMenuConfig{
	left:70%;
}

.mainMenuHome{
	left:0;
}

.openMainMenu{
	left:30%;
}

.openMenuConfig{
	left:-30%;
}

.opacityTotal{
	opacity: 100;
}

.size{
	max-width: 80px;
	max-height: 80px;
}

.selected {
	background-color: #dff0d8;
}