#div_principal_blocks{
	top: 15%; left: 3%; right: 3%;
	padding: 20px;
	position: absolute;
	background-color: #efe;
}

#div_produtos{
	padding: 10px 10px 12px;
	position: relative;
	border-radius: 10%;
	width: 90%;
	height: 300%;
	text-align: center;
	background-color: #ded;
}

.li_produtos{
	position: relative;
	padding: 10px 10px 12px;
	list-style: none;
	display: inline-block;
}

#size_imgs_block{
	max-width: 240px;
	max-height: 200px;
	display: inline-block;
}

#size_big_img_list{
	max-width: 500px;
	max-height: 400px;	
}

#size_big_img_list_div{
	width: 500px;
	height: 400px;
	position: relative;
}

#title_produto{
	padding-top: 5px;
	padding-bottom: 10px;
	font-family: monospace;
	font-size: 30px;
}

#information_produto{
	padding-top: 10px;
	padding-bottom: 5px;
	font-family: monospace;
	font-size: 20px;
}

.div_principal_list{
	top: 2%; bottom: 2%;
	width: 48.5%;
	position: relative;
	background-color: #ded;
	border-radius: 10%;
	display: block;
}

#size_imgs_list{
	max-width: 110px;
	max-height: 110px;
}

#circles_of_slide{
	border-radius: 50%;
	border: 2px solid green;
	margin: 5px;
	width: 10px;
	height: 10px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

#config_li {
	list-style: none;
}

.color_others_options{
	background-color: #efe;
}

.change_color{
	background-color: black;
}