html, body {overflow-x: hidden;}

#navbar{
	left: 0; top: 0; right: 0;
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #2E8B57;
	min-width: 1300px;
}

#menu {
		width: 30%;
		margin: 0; padding: 0;
		float: left;
}

#btn_set {
	border-radius: 5px;
	width: 32px;
	height: 32px;
	left: 80%;
	border-style: none;
	background-image: url("img/down.png");

}

#btn_find {
	position: relative;
	border-radius: 5px;
	margin-left: 2px;
	width: 32px;
	height: 32px;
	border-style: none;
	background-image: url("img/find.png");
}

#navbar_txt {
	top: 6px;
}

#profile {
  position: relative;	
  border: 5px solid #fff;
  height: 100px;
  width: 100px;
  margin: 20px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111; 

}

.block {
	height: 8%;
}

.fspace {
	height: 75px;
}

.fsp {
	height: 10px;
}

.menu{
	font-family: "Verdana", sans-serif;
    font-size: 15px;
	position: fixed;
	height: 100%;
	width: 300px;
	background-color: #1C1C1C;
	z-index: 1;
}

.menu_options ul li {
		margin: 0; padding: 0px;
		border-bottom: 1px solid #CCC;
		text-align: left;
		list-style-type: none;
}


.menu_options a:link {
		background: #1C1C1C;
		color: #fff;
		text-decoration: none;
		padding: 10px;
		left: 0;
		display: block;
}


.menu_options a:hover {
		background: #fff;
		color: #000;
}


.menu_settings{
	color: #fff;
	text-shadow: 0 1px 0 #000;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(255,255,255,.05) inset;
	right: 0;
	bottom: 0;
	top: 0;
	
}

.menu_options{
	color: #fff;
	text-shadow: 0 1px 0 #000;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(255,255,255,.05) inset;
	right: 80%;
	top: 0;
	bottom: 0;
}

.table_produtos{
	position: relative;
	padding: 10px 10px 12px;
	width: 20%;
	height: 20%;
	float: left;
	list-style: none;
	background-color: #00f;
	display: block;
}

.quadro_esq {
  position: relative;
  border: 3px solid #fff;
  float: left;  
  height: 100px;
  width: 100px;
  left: 20px;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 2px;
   
  -webkit-box-shadow: 8px 8px 8px #111;
          box-shadow: 8px 8px 8px #111; 
}

.quadro_dir {
  position: relative;
  border: 3px solid #fff;
  float: right;  
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 2px;
   
  -webkit-box-shadow: 8px 8px 8px #111;
          box-shadow: 8px 8px 8px #111; 
}

