#menu_bar{
	left: 0; top: 0; right: 0;
	position: relative;
	width: 100%;
	height: 10%;
	background-color: #2E8B57;
}

#body_page{
	left: 0; top: 0; right: 0; bottom: 0;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #Fff;
}

#btn_set {
	border-radius: 5px;
	width: 32px;
	height: 32px;
	left: 80%;
	border-style: none;
	background-image: url("img/down.png");

}

#btn_find {
	border-radius: 5px;
	width: 32px;
	height: 32px;
	border-style: none;
	background-image: url("img/find.png");
}

#txt {
	position: relative;
	top: 6px;
}

#envolve {

	600px;
}

.block {
	height: 8%;
}

.fspace {
	height: 75px;
}

.fsp {
	height: 10px;
}

.menu{
	font-family: "Helvetica", sans-serif;
    font-size: 15px;
	top: 0;
	position: fixed;
	height: 100%;
	width: 20%;
	background-color: #1C1C1C;
	z-index: 1;
}

.table_produtos{
	position: relative;
	padding: 10px 10px 12px;
	width: 20%;
	height: 20%;
	float: left;
	list-style: none;
	background-color: #00f;
	display: block;
}

.menu_settings{
	color: #fff;
	text-shadow: 0 1px 0 #000;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(255,255,255,.05) inset;
	right: 0;
	bottom: 0;
	
}

.quadro_esq {
  position: relative;
  border: 3px solid #fff;
  float: left;  
  height: 100px;
  width: 100px;
  left: 20px;
  margin-top: 20px;
  margin-right: 3px;
  overflow: hidden;
  border-radius: 2px;
   
  -webkit-box-shadow: 8px 8px 8px #111;
          box-shadow: 8px 8px 8px #111; 
}

.quadro_dir {
  position: relative;
  border: 3px solid #fff;
  float: right;  
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 2px;
   
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111; 
}




.menu_options{
	color: #fff;
	text-shadow: 0 1px 0 #000;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(255,255,255,.05) inset;
	right: 80%;
	top: 0;
	bottom: 0;
}
