#div_principal_blocks{
	top: 70px; left: 0%; right: 0%;
	padding: 20px 20px 0px 20px;
	position: absolute;
	background-color: #efe;
	min-width: 1300px;
}

#div_produtos{
	padding: 10px 10px 12px;
	position: relative;
	border-radius: 10%;
	width: 90%;
	height: 300%;
	text-align: center;
	background-color: #ded;
}

.li_produtos{
	position: relative;
	padding: 10px 10px 12px;
	list-style: none;
	display: inline-block;
}

#size_imgs_block{
	max-width: 240px;
	max-height: 200px;
	display: inline-block;
}

/* Product in list */
#size_big_img_list{
	max-width: 400px;
	max-height: 300px;	
}

#size_big_img_list_div{
	width: 100%;
	height: 300px;
	margin-bottom: 2%;
	position: relative;
}

#text_title_product{
	padding: 10px 0px 0px 70px;
	margin: 10px;
	font-family: "david";
	font-size: 40px;
}

#text_distance_price_product{
	padding: 10px 10px 0px 10px;
	margin: 4px;
	font-family: "Centaur";
	font-style: inherit;
	font-size: 20px;
}

#div_text{
	position: relative;
	background-color: red;
	width: 50%;
}

#information_produto{
	padding-top: 10px;
	padding-bottom: 5px;
	font-family: monospace;
	font-size: 20px;
}

.div_principal_list{
	top: 20%; bottom: 2%;
	margin: 20px 15px 30px 15px;
	padding: 10px 30px 10px 30px;
	position: relative;
	background-color: #ded;
	min-width: 460px;
}
.lado{
	width: 46.5%;
	float: left;
}

#size_imgs_list{
	max-width: 110px;
	max-height: 110px;
}

#circles_of_slide{
	border-radius: 50%;
	margin: 4px;
	width: 7px;
	height: 7px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

#config_li {
	list-style: none;
}

.scrollbar {
	bottom: 20%;
	overflow: auto;
}

.config_cursor{
	cursor: pointer;
}

.config_margin{
	margin: 10px 0px 10px 0px;
}

.color_others_options{
	background-color: black;
}

.change_color{
	background-color: #005600;
}

.product_selected{
	border: solid #2E8B57;
}

.product_houver{
	border: solid #2E8B57;
}