/*Product in block*/
.list_product_block{
	margin: 1%;
	padding: 1%;
	width: 270px;
	max-width: 300px;
	height: 310px;
	display: inline-block;
	float: left;
	background-color: #cec;
}

#show_product_block{
	padding: 10px 10px 12px;
	position: relative;
	width: 90%;
	height: 300%;
	text-align: center;
}

#image_block{
	max-width: 200px;
	max-height: 160px;
}

#title_product_block{
	padding: 10px 0px 70px 10px;
	font-family: "david";
	font-size: 25px;
}

#information_produto_block{
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: "arial";
	font-size: 16px;
	margin: 2px 0 2px 0; 
}

.list_style{
	list-style: none;
}