
.menu{
	font-family: "Verdana", sans-serif;
	font-size: 15px;
	position: absolute;
	height: 100%;
	background-color: #1C1C1C;
}

.menu_settings{
	right: 0;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	text-decoration: none;
	box-shadow: 0 1px 0 rgba(255,255,255,.05) inset;
	bottom: 0;
	width: 300px;
	top: 70px;
	z-index: 2;
	overflow: auto;
}

.menu_options{
	color: #fff;
	text-shadow: 0 1px 0 #000;
	text-decoration: none;
	box-shadow: 0 1px 0 rgba(255,255,255,.05) inset;
	top: 70px;
	width: 260px;
	bottom: 0;
	z-index: 2;
	overflow: auto;
}

.menu_options ul li {
	margin: 0; padding: 0px;
	text-align: left;
	list-style-type: none;
}


.menu_options a:link {
	display: block;
    padding: 20px;
    border-bottom: 1px solid #222;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(255,255,255,.05) inset;
    background: -webkit-linear-gradient(rgba(255,255,255,.02) 0%, rgba(0,0,0,.1) 100%);
    background: -moz-linear-gradient(rgba(255,255,255,.02) 0%, rgba(0,0,0,.1) 100%);
}

.menu_options a:hover {
	background: #336c95;
	opacity: 3;
	display: block;
}


.left_frame {
	position: relative;
	float: left;
	cursor: pointer;  
	height: 100px;
	width: 100px;
	left: 20px;
	margin-top: 20px;
	overflow: hidden;
	border-radius: 2px;

	-webkit-box-shadow: 8px 8px 8px #111;
	box-shadow: 8px 8px 8px #111; 
}

.right_frame {
	position: relative;
	float: right;
	cursor: text;  
	height: 100px;
	width: 100px;
	margin-top: 20px;
	margin-right: 10px;
	overflow: hidden;
	border-radius: 2px;

	-webkit-box-shadow: 8px 8px 8px #111;
	box-shadow: 8px 8px 8px #111; 
}

.left_frame:hover {
	background: #336c95;
	opacity: 3;
	border-radius: 5px;
}

.right_frame:hover {
	background: #336c95;
	opacity: 3;
	border-radius: 5px;
}
.left_frame:active {
	-ms-border-radius: 9px;
	border-radius: 9px;
}

.right_frame:active {
	border-radius: 9px;
}



