
.menu{
	font-family: "Verdana", sans-serif;
	font-size: 15px;
	position: absolute;
	height: 100%;
	width: 250px;
	background-color: #1C1C1C;
}

.menu_options ul li {
	margin: 0; padding: 0px;
	text-align: left;
	list-style-type: none;
}


.menu_options a:link {
	display: block;
    padding: 20px;
    border-bottom: 1px solid #222;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(255,255,255,.05) inset;
    background: -webkit-linear-gradient(rgba(255,255,255,.02) 0%, rgba(0,0,0,.1) 100%);
    background: -moz-linear-gradient(rgba(255,255,255,.02) 0%, rgba(0,0,0,.1) 100%);
}

.menu_options a:hover {
	background: #336c95;
	opacity: 3;
	display: block;
}


.menu_settings{
	color: #fff;
	text-shadow: 0 1px 0 #000;
	text-decoration: none;
	box-shadow: 0 1px 0 rgba(255,255,255,.05) inset;
	right: 0;
	bottom: 0;
	top: 70px;
	z-index: 2;
	
}

.menu_options{
	color: #fff;
	text-shadow: 0 1px 0 #000;
	text-decoration: none;
	box-shadow: 0 1px 0 rgba(255,255,255,.05) inset;
	top: 70px;
	bottom: 0;
	z-index: 2;
}

.left_frame {
	position: relative;
	float: left;  
	height: 100px;
	width: 100px;
	left: 20px;
	margin-top: 20px;
	overflow: hidden;
	border-radius: 2px;

	-webkit-box-shadow: 8px 8px 8px #111;
	box-shadow: 8px 8px 8px #111; 
}

.right_frame {
	position: relative;
	float: right;  
	height: 100px;
	width: 100px;
	margin-top: 20px;
	margin-right: 10px;
	overflow: hidden;
	border-radius: 2px;

	-webkit-box-shadow: 8px 8px 8px #111;
	box-shadow: 8px 8px 8px #111; 
}

