<div class="menu filter-menu" ng-if="active_menu[1]" ng-animate="{enter: 'animate-enter-settings', leave: 'animate-leave-settings'}">
	<center>
		<div class="icon-space" style="padding-top: 60px;">
			<div align="center"> 
				<strong> Você está: </strong> 
			</div>
			<div class="icon left-icon" ng-click="change_filter('walking')" ng-class="{'icon-selected': filter_mode == 'walking'}"> 
				<img src="img/andando.png" alt="Voce está andando?" />
				<p class="left-pos"> Andando 
			</div>
			<div class="icon right-icon"  ng-click="change_filter('driving')" ng-class="{'icon-selected': filter_mode == 'driving'}">
				<img src="img/carro.png" style="margin-top: 5px;" alt="Você está dirigindo?" />
				<p class="right-pos"> Dirigindo </p> 
			</div>
		</div>
		<br><br>
		<strong> Exibir: </strong>
		<div class="icon-space">
			<div class="icon left-icon" ng-click="change_type_view('list')" ng-class="{'icon-selected': product_view_selected == 'list'}"> 
				<img src="img/lista.png" alt="Modo de exibição de produtos, produtos em lista" />
				<p class="left-pos"> Prod. em Lista </p>  
			</div>
			<div class="icon right-icon"  ng-click="change_type_view('block')" ng-class="{'icon-selected': product_view_selected == 'block'}"> 
				<img src="img/block.png" style="margin-top: -3px;" alt="Modo de exibição de prodtuos, produtos em blocos"/> 
				<p class="right-pos"> Prod. em Blocos </p>
			</div>
		</div>
		<br><br><br>
		<strong> Classificar por: </strong> 
		<div class="icon-space">
			<div class="icon left-icon" ng-click="change_mode('price')" ng-class="{'icon-selected': sel_mode == 'price'}"> 
				<img src="img/price.png" alt="Classificar produtos por menor preço" />
				<p class="left-pos"> Preço </p>
			</div>
			<div class="icon right-icon"  ng-click="change_mode('dist')" ng-class="{'icon-selected': sel_mode == 'dist'}">
				<img src="img/distance.png" alt="Classificar produtos por menor distância" />
				<p class="right-pos"> Distância </p>
			</div>
		</div>
	</center>
</div>