<div id="navbar-topspace"> </div>
<div id="btn_esquerdo" class="button profile-menu-button" ng-click="vai_na_fe(0)"> </div>
<div id="btn_direito" class="button filter-menu-button" ng-click="vai_na_fe(1)"></div>
<div class="show-for-small-only">
	<div id="navbar-minitext"> FastFind</div>
	<div style="position: absolute;
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 9px;
	margin-top: 38px;
	margin-left: 43%;
	text-transform: uppercase;"> {{speech_message}} </div>
	<input type="submit" id="navbar-login-but" value="ENTRAR" />
</div>

<div class="hide-for-small-only">
	<input type="submit" id="navbar-large-login-but" value="ENTRAR" data-reveal-id="myModal" data-reveal/>
	<div id="navbar-text" align="center"> FastFind </div>
	<div style="position: absolute;
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin-top: 38px;
	margin-left: 43%;
	text-transform: uppercase;"> {{speech_message}} </div>
	<div id="navbar-search-area">
		<input type="text" placeholder="Pesquise seu produto já!" style="navbar-search-area-input" ng-model="search"/>
		<div class="button find-button"> </div>
	</div>
</div>
	
	<!--introducao 
	como as lojas estao hoje -- problemas  -- sao para desk - o uso do mobile está crescendo

	met mat
	ok

	resultado
	falando (volante vc pode navegar)
	mostrar oq a interface tem-->